.programs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.programs-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    color: white;
    font-style: italic;
}

.program-categories {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.program-categories .category {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 2rem;
    gap: 1rem;
    color: white;
    justify-content: space-between;
}

.program-categories .category:hover {
    background-color: var(--orange);
    cursor: pointer;
}

.program-categories .category>:nth-child(1) {
    width: 2rem;
    height: 2rem;
    fill: white;
}

.program-categories .category>:nth-child(2) {
    font-size: 1rem;
    font-weight: bold;
}

.program-categories .category>:nth-child(3) {
    font-size: 0.9rem;
    line-height: 25px;

}

.program-categories .join-now {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.program-categories .join-now img {
    width: 1rem;
}

@media(max-width:1200px) {
    .programs-header {
        gap: 1rem;
        font-size: 2rem;
    }
}

@media(max-width:767px) {
    .programs-header {
        flex-direction: column;
        align-items: center;
    }
}